@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  body{
    background-color: #6E352C;
  }
}
